/* @import url('https://fonts.googleapis.com/css2?family=Festive&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500&display=swap');
@font-face {
    font-family: "mm";
    src: url(../fonts/MyanmarNayone.ttf);
    font-size: larger;
}
:root{
    --primary : #2CD1EE;
    --primary-soft : #3ecfe9e1;
    --secondary : #707070;
    --secondary-soft : #f2f2f2;
    --lignt : #ffffff;
    --dark : #000000;
    --br : 5px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Festive', "mm"; */
    font-family: 'Mukta', "mm";
    color: var(--secondary);
}
body{
    transition: 0.5s;
}
.mm{
    font-family: "mm";
}
.divider{
    height: 3px;
    background-color: var(--secondary);
    border-radius: var(--br);
}
.app{
    width: 700px;
    margin: 100px auto;
}
.output{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.brand-container{
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
}
.brand{
    margin-left: 5px;
    font-size: 30px;

}
.result-container{
    display: flex;
    align-items: center;
}
.result{
    font-size: 40px;
}
.calc{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.container{
   width: 150px;
}
.container label{
    display: block;
}
.input,.from,.to{
    width: 100%;
    padding: 5px 10px;
    border-radius: var(--br);
    border: 1px solid var(--secondary);
}
.input{
    text-align: right;
}
.input:focus,.from:focus,.to:focus{
    outline: none;
}
.calc-btn{
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    color: var(--lignt);
    border-radius: var(--br);
    border: 1px solid var(--primary);
    font-size: 20px;
}
.calc-btn:active{
    background-color: var(--primary-soft);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
}
@-moz-document url-prefix(){
    select { width: 110%; background-position: right 30px center !important; border: none !important;}
}

.history{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    width: 100%;
    margin-top: 20px;
}
.history td,.history th{
    padding: 8px;
    border-radius: var(--br);
}
.history tr:nth-child(even){background-color: var(--secondary-soft);}

.history tr:hover {background-color: #ddd;}

.history th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary);
    color: var(--lignt);
}
.history th:last-child{
    text-align: center;
}
.history tr td:last-child{
    text-align: right;
}

#rowSpacer td{
    text-align: center;
}
.mode-change{
    width: 40px;
    height: 40px;
    background-color: var(--dark);
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
}
.mode-change .fas{
    color: var(--lignt);
}
@media screen and (max-width:480px){
    .app{
        width: 96%;
    }
    .output{
        flex-flow: column;
        align-items: flex-end;
    }
    .brand-container{
        width: 100%;
    }
    .calc{
        flex-wrap: wrap;
    }
    .container{
        width: 100%;
        margin-bottom: 15px;
    }
    .from-container,.to-container{
        width: 48%;
    }
    .calc-btn{
        padding: 20px 0;
    }
    .input,.from,.to{
        padding: 15px 10px;
    }
}